name: Go CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1
      CGO_CFLAGS: "-DSQLITE_ENABLE_FTS5"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Run linter
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=5m --build-tags=sqlite_fts5

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    env:
      CGO_ENABLED: 1
      CGO_CFLAGS: "-DSQLITE_ENABLE_FTS5"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go ${{ matrix.os }}
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Download dependencies
        run: go mod download

      - name: Verify dependencies
        run: go mod verify

      - name: Run tests
        run: go test -v -tags=sqlite_fts5 -coverprofile=profile.cov -timeout 40m ./...
        env:
          CGO_ENABLED: 1
        shell: bash

# Disabling coverage reporting for now. Re-enable once the project is made public.
#      - uses: shogo82148/actions-goveralls@v1
#        with:
#          path-to-profile: profile.cov

